### Exercise 2 - Notebook Title ###
# Final Project: Data Science Notebook - Mod 6

### Exercise 3 - Introduction ###
# Introduction
# This notebook is created to demonstrate basic concepts and tools used in Data Science, 
# including programming languages, libraries, and simple arithmetic examples.

### Exercise 4 - Languages of Data Science ###
# Languages of Data Science:
# - Python
# - R
# - SQL
# - Julia
# - JavaScript
# - Scala

### Exercise 5 - Libraries of Data Science ###
# Libraries of Data Science:
# - NumPy
# - pandas
# - Matplotlib
# - scikit-learn
# - TensorFlow
# - PyTorch
# - seaborn

### Exercise 6 - Tools of Data Science ###
# | Tool                | Purpose                    |
# |---------------------|----------------------------|
# | Jupyter Notebooks  | Interactive coding         |
# | RStudio            | Statistical analysis       |
# | Apache Spark       | Big data processing        |
# | Tableau            | Data visualization         |
# | Microsoft Excel    | Spreadsheet manipulation   |

### Exercise 7 - Examples of Arithmetic Expressions ###
# Examples of Arithmetic Expressions:
# Arithmetic expressions are used to perform mathematical operations, such as addition, 
# subtraction, multiplication, and division.

In [ ]:
### Exercise 8 - Multiply and Add Numbers ###
# Multiply and Add Numbers
a = 5
b = 4
result_multiply = a * b
result_sum = a + b
print("Multiplication Result:", result_multiply)
print("Sum Result:", result_sum)

In [ ]:
### Exercise 9 - Convert Minutes to Hours ###
# Convert Minutes to Hours
minutes = 150
hours = minutes / 60
print("Hours:", hours)

In [ ]:
### Exercise 10 - List Objectives ###
# Goals:
goals = ["Understand Data Science tools", "Practice arithmetic operations", "Learn Markdown syntax"]
print("Objectives:", goals)

### Exercise 11 - Author Name ###
# Author:
# - Jonathan Quijada Jara