### Exercise 2 - Notebook Title ###
# <H1>**Final Project: Data Science Notebook - Mod 6**</H1>

### Exercise 3 - Introduction ###
# **Introduction**
# This notebook is created to demonstrate basic concepts and tools used in Data Science, including programming languages, libraries, and simple arithmetic examples.

### Exercise 4 - Languages of Data Science ###
# **Languages of Data Science:**
# - Python
# - R
# - SQL
# - Julia
# - JavaScript
# - Scala

### Exercise 5 - Libraries of Data Science ###
# **Libraries of Data Science:**
# - NumPy
# - pandas
# - Matplotlib
# - scikit-learn
# - TensorFlow
# - PyTorch
# - seaborn

### Exercise 6 -  Tools of Data Science ###
# **Tools of Data Science:**

In [9]:
### Exercise 6 -  Tools of Data Science ###
# Tools of Data Science:
import pandas as pd

data = [
    ["Jupyter Notebooks", "Interactive coding and visualization"],
    ["RStudio", "Statistical computing and graphics"],
    ["Apache Spark", "Big data processing"],
    ["Tableau", "Data visualization"],
    ["Microsoft Excel", "Spreadsheet manipulation"]
]

df = pd.DataFrame(data, columns=["Data Science Tool", "Description"])
display(df)

   Data Science Tool                           Description
0  Jupyter Notebooks  Interactive coding and visualization
1            RStudio    Statistical computing and graphics
2       Apache Spark                   Big data processing
3            Tableau                    Data visualization
4    Microsoft Excel              Spreadsheet manipulation

### Exercise 7 - Examples of Arithmetic Expressions ###
# **Examples of Arithmetic Expressions:**
# Arithmetic expressions are used to perform mathematical operations, such as addition, subtraction, multiplication, and division.

In [1]:
### Exercise 8 - Multiply and Add Numbers ###
# Multiply and Add Numbers
a = 5
b = 4
result_multiply = a * b
result_sum = a + b
print("Multiplication Result:", result_multiply)
print("Sum Result:", result_sum)

Multiplication Result: 20
Sum Result: 9

In [2]:
### Exercise 9 - Convert Minutes to Hours ###
# Convert Minutes to Hours
minutes = 150
hours = minutes / 60
print("Hours:", hours)

Hours: 2.5

### Exercise 10 - List Objectives ###
# **Objectives:**
# - Understand Data Science tools
# - Practice arithmetic operations
# - Learn Markdown syntax

### Exercise 11 - Author Name ###
# **Author**:
# - Jonathan Quijada Jara